%%Panel.HTMLHead%%
	<body id="home">
		%%Panel.DrawerMenu%%
		<div class="page">
			%%Panel.Header%%
			<div class="main">
				%%Panel.WrapperBanner%%
				<div class="Content Widest" id="LayoutColumn1">
					%%Panel.HomeSlideShow%%
					<div class="container">
						%%Banner.TopBanner%%
						%%Discount.FreeShippingEligibility%%
						%%Panel.HomeFeaturedProducts%%
						%%Panel.HomeNewProducts%%
						%%Banner.BottomBanner%%
					</div>
				</div>
			</div>
			%%Panel.Footer%%
		</div>
	</body>
</html>