/**************************************************************************
    TYPOGRAPHY
**************************************************************************/
@import url(//fonts.googleapis.com/css?family=Ubuntu+Condensed);

html, body {font: 12px "Ubuntu Condensed";}

h1,
h2,
h3,
h4,
h5,
h6 {font: 20px "Ubuntu Condensed";color: #7e7a7d;text-transform: uppercase;}

h2,
h3,
h4 {font-size: 17px;}

h5,
h6 {font-size: 14px;}



/**************************************************************************
    TOP MENU
**************************************************************************/
.TopMenu {padding: 11px 0 0 0;text-transform: uppercase;}

.TopMenu ul {list-style-type: none;}
.TopMenu li {display: inline-block;}
.TopMenu li ~ li {margin: 0 0 0 16px;}
.TopMenu li a {color: #c0bcbf;}
.TopMenu li a:hover {color: #706d6f;}


/********** left **********/
.topmenu_left {}


/********** center **********/
.topmenu_center {text-align: center;}


/********** right **********/
.topmenu_right {text-align: right;}
.topmenu_right .js-drawermenu-store-phone-container {float: right;}
.topmenu_right .phoneIcon {}
.topmenu_right .fa {vertical-align: top;margin: 0 1px 0 0;font-size: 15px;position: relative;top: 2px;
-webkit-transform: translateY(-2px);
}
.topmenu_right .js-drawermenu-store-phone {vertical-align: top;}


/* currency selector */
.js-drawermenu-currency-converter {float: right;margin: 0 0 0 16px;}
.js-drawermenu-currency-converter span {color: #6f6c6e !important;}

.currency-converter {text-align: left;position: relative;z-index: 60;cursor: pointer;}
.currency-converter p {margin: 0;line-height: inherit;}

.currency-converter .CurrencyChooser {min-width: 150px;padding: 10px 0 0 0;border: none;position: absolute;right: 0;top: 100%;
display: none;
}
.currency-converter:hover .CurrencyChooser {display: block;}

.CurrencyChooser h2 {display: none;}
.CurrencyChooser a span {font-size: 11px;}

.selected-currency {padding: 10px 20px 10px 10px !important;background: url(../images/icon_arrow_down.png) no-repeat right center;cursor: pointer;}
.selected-currency span {font-size: 11px;}
.TopMenu .selected-currency {display: none;}

.CurrencyChooser .BlockContent {margin-top: -1px;position: relative;}
.CurrencyChooser .BlockContent .CurrencyList {display: block;}

.CurrencyList {}
.CurrencyList a {display: block;padding: 5px 10px;font-size: 11px;}
.CurrencyList a.Sel span {color: #6f6c6e !important;}

.selected-currency .Flag,
.CurrencyList a .Flag {float: left;margin-right: 10px;}


.CurrencyList dd {clear: both;margin: 0px;background-color: #f1f0f1;}
.CurrencyList dd:hover {background-color: #fff;}
.CurrencyList img {vertical-align: middle;}



/**************************************************************************
    HEADER
**************************************************************************/
#Header {position: relative;}

/********** Top Search Form **********/
#SearchForm {padding: 102px 0 0 0;}
#SearchForm form {width: 240px;height: 36px;overflow: hidden;padding: 0 34px 0 0;border: 1px solid #d9d9d9;position: relative;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;

-webkit-border-radius: 18px;
   -moz-border-radius: 18px;
        border-radius: 18px;
}

#SearchForm label {display: none;}

#SearchForm #search_query {min-width: 1px;width: 100%;height: 34px;float: left;padding: 0 0 0 15px;background: none;border: none !important;font-size: 11px;text-transform: uppercase;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

#SearchForm .Button {width: 34px;height: 32px;margin: 0 -36px 0 0;background: none;border: none;color: #aba8aa;cursor: pointer;}
#SearchForm .Button i {font-size: 13px;}
#SearchForm .Button:hover {color: #6f6c6e;}

#SearchForm p {margin: 5px 0 0 0;font-size: 0.85em;
display: none;
}

/* Quick Search */
.QuickSearch {min-width: 240px;width:240px;overflow: hidden;margin: 7px 0 0 0;padding: 0 !important;background-color: #fff;position: absolute;top: 100%;left: 15px;z-index: 9999;
-webkit-border-radius: 18px;
   -moz-border-radius: 18px;
        border-radius: 18px;
}
.QuickSearch tbody {border-collapse: collapse;}

.QuickSearch tr ~ tr {border-top: 1px solid #d9d9d9 !important;}

.QuickSearch td {border-collapse: collapse;border-spacing: 0;}

.RatingIMG {display: none;}

.QuickSearchTitle td,
.QuickSearchAllResults td {padding: 0 !important;font-weight: bold;font-size: 12px;}

.QuickSearchResult td {padding: 0 10px;font-size: 12px;cursor: pointer;}

.QuickSearchResultImage {margin-left: 4px;margin-right: 10px;background: #fff !important;text-align: center;}
.QuickSearchResultImage img {width: 70px !important;height: 70px !important;}

.QuickSearchResultNoImage {padding-top: 10px;color: #777;}

.QuickSearchResultName {display: block;padding-bottom: 5px;}

.QuickSearchResult .Price {padding-right: 5px;font-weight: bold;font-size: 12px;}

.QuickSearchHover {background: none !important;}

.QuickSearchAllResults {padding: 0;line-height: 20px;text-indent: 0;}

.QuickSearch .QuickSearchAllResults a,
.QuickSearch .QuickSearchAllResults a:hover {height: 30px;display: inline-block;line-height: 30px;}

.QuickSearchAllResults a:active,
.QuickSearchAllResults a {outline: none;
-moz-outline-style: none;
}



/********** Logo **********/
.header-logo {padding-top: 94px;text-align: center;}
.header-logo img {display: block;}
.header-logo h1 {padding: 0;font-weight: normal !important;font-size: 40px;letter-spacing: 8px;}
.header-logo a {display: inline-block;
-webkit-transition: color .3s ease-in-out;
   -moz-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
     -o-transition: color .3s ease-in-out;
        transition: color .3s ease-in-out;
}


/********** Header Cart **********/
.header_cart {padding: 120px 0 0 0;}
.header_cart a {display: inline-block;float: right;position: relative;}
.header_cart a i {font-size: 22px;color: #aba8aa;}

.header_cart a .header_cart__quantity {width: 24px;height: 24px;display: block;background: #aba8aa;line-height: 23px;color: #fff;text-align: center;position: absolute;top: -18px;left: -17px;
-webkit-border-radius: 50%;
   -moz-border-radius: 50%;
        border-radius: 50%;
-webkit-transition: background .3s ease-in-out;
   -moz-transition: background .3s ease-in-out;
    -ms-transition: background .3s ease-in-out;
     -o-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
}
.header_cart a:hover .header_cart__quantity {background: #6f6c6e;}



/********** Main Menu **********/
.header .PageMenu {padding: 17px 0 0 0;}

.header .sf-menu {display: block;text-align: center;}
.header .sf-menu > li {display: inline-block;margin: 15px 0 0 0;padding: 0;}
.header .sf-menu > li > a {height: 27px;display: block;padding: 0 15px !important;font: 12px/25px 'Ubuntu Condensed';color: #c0bcbf;text-transform: uppercase;
-webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; 
}
.header .sf-menu > li > a.active,
.header .sf-menu > li.over > a,
.header .sf-menu > li > a:hover {background: #c0bcbf;color: #fff;}

.header .sf-menu ul {padding: 10px 0;}
.header .sf-menu ul li {padding: 0;}
.header .sf-menu ul a {padding: 8px 15px;font-size: 11px;line-height: 1.2em;text-transform: uppercase;}

/*
#HeaderLower #SideCategoryList .SideCategoryListClassic li a {width: auto;margin: 15px 10px;padding: 0 0 0 0px;font-size: 14px;line-height: 20px;text-transform: uppercase;}
#HeaderLower #SideCategoryList .SideCategoryListClassic li:before {content: "|";float: left;margin-top: 16px;}
#HeaderLower #SideCategoryList .SideCategoryListClassic ul:first-child {color: #fff;}
#SideCategoryList h2 {display: block;}
*/



/**************************************************************************
    MAIN CONTENT
**************************************************************************/
.main {margin: 25px 0 0 0;padding: 0 0 50px 0;background: #f1f0f1;}



/**************************************************************************
    HOME PAGE
**************************************************************************/


/********** home page banner **********/
.banner_home_page_top {padding: 25px 0 0 0;}
.banner_home_page_top .banner {margin: 15px 0 0 0;}
.banner_home_page_top a {display: block;padding: 0 100px 40px 30px;border-bottom: 10px solid #fff;
-webkit-transition: background .3s ease-in-out;
   -moz-transition: background .3s ease-in-out;
    -ms-transition: background .3s ease-in-out;
     -o-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
}
.banner_home_page_top a span {display: block;padding: 78px 0 0 0;font-size: 40px;line-height: 40px;color: #fff;text-transform: uppercase;}
.banner_home_page_top a span ~ span {padding: 30px 0 0 0;font-size: 16px;line-height: 1em;}

.banner_home_page_top .banner_1 a {background: #93d6c5;}
.banner_home_page_top .banner_2 a {background: #eacd8f;}
.banner_home_page_top .banner_3 a {background: #ee8478;}

.banner_home_page_top a:hover {background: #c0bcbf;}



/********** products listing **********/
.ProductList {list-style-type: none;overflow: hidden;}

.products_listing_main {}
.products_listing_main h2 {padding: 35px 0 0 0;font-size: 20px;}
.products_listing_main .col-sm-3 {width: 25% !important;min-height: 1px !important;height: auto !important;margin: 35px 0 0 0;padding: 0 15px !important;}
.products_listing_main .col-sm-4 {width: 33.33333333% !important;min-height: 1px !important;height: auto !important;margin: 30px 0 0 0;padding: 0 15px !important;}
.products_listing_main .clr {clear: left;}

.products_listing_main .item {padding: 10px 10px 30px 10px;background: #fff;text-align: center;}



/* list view */
.products_listing_main li.ListView {width: 100% !important;float: none !important;margin: 30px 0 0 0;position: relative;}
.products_listing_main li.ListView .item {overflow: hidden;padding: 15px;text-align: left;}

.products_listing_main li.ListView .QuickViewBtn {width: 150px !important;padding-left: 0;padding-right: 0;text-align: center;left: 30px !important;top: 165px !important;z-index: 10;}

.products_listing_main li.ListView .ProductImage {width: 150px;height: 150px;float: left;}
.products_listing_main li.ListView .ProductImage a {padding: 15px;}

.products_listing_main li.ListView .ProductDetails {margin: 0 0 0 165px;border: none;}

.products_listing_main li.ListView .Rating {padding: 0;}

.products_listing_main li.ListView .p-name {margin: 0;font-weight: normal;text-transform: uppercase;}
.products_listing_main li.ListView .p-name a {color: #aaa;}
.products_listing_main li.ListView .p-name a:hover {color: #e7695b;}

.products_listing_main li.ListView .ProductDescription {margin: 0;padding: 10px 0 0 0;}

.products_listing_main li.ListView .ProductCompareButton {margin: 0;}



/* product image */
.products_listing_main .ProductImage {}
.products_listing_main .ProductImage a {padding: 25px;background: #f1f0f1;position: relative;z-index: 1;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}
.products_listing_main .ProductImage a:after {content: '';width: 100%;height: 100%;display: block;background: rgba(0,0,0,.0);position: absolute;left: 0;top: 0;z-index: 1;
-webkit-transition: background .3s ease-in-out;
   -moz-transition: background .3s ease-in-out;
    -ms-transition: background .3s ease-in-out;
     -o-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
}
.products_listing_main .ProductImage:hover a:after {background: rgba(0,0,0,.2);}


/* quick view */
.products_listing_main .ProductImage .QuickViewBtn {text-transform: uppercase;z-index: 100;
filter: none;
-webkit-transition: background .3s ease-in-out;
   -moz-transition: background .3s ease-in-out;
    -ms-transition: background .3s ease-in-out;
     -o-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
}
.products_listing_main .ProductImage .QuickViewBtn:hover {}


/* details */
.products_listing_main .ProductDetails {min-height: 1px !important;margin: 19px 0 0 0;padding: 0;}

.products_listing_main a.pname {display: inline-block;font-size: 12px;line-height: 1em;text-transform: uppercase;
-webkit-transition: color .3s ease-in-out;
   -moz-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
     -o-transition: color .3s ease-in-out;
        transition: color .3s ease-in-out;
}
.products_listing_main a.pname:hover {color: #ee8478;}

.products_listing_main .p-price {display: block;margin: 0;padding: 10px 0 0 0;font-style: normal;font-weight: normal;font-size: 30px;}
.products_listing_main .p-price strike {color: #c0bcbf;}

.products_listing_main .Rating {display: block;padding: 10px 0 0 0;}
.products_listing_main .ProductPriceRating {margin: 0;}

.products_listing_main .ProductCompareButton {margin: 0;padding: 10px 0 0 0;}

.products_listing_main .ProductActionAdd {padding: 13px 0 0 0;}


.ProductList .Message {padding: 0 15px;font-size: 12px;text-transform: uppercase;}



/* category pagination */
#CategoryPagingTop {}

#CategoryPagingBottom {margin: 30px 0 0 0;}
#CategoryPagingBottom .CategoryPagination {padding: 0 6px 6px 6px;background: #fff;text-align: center;}
#CategoryPagingBottom .PagingList {display: inline-block;list-style-type: none;margin: 0;}
#CategoryPagingBottom .PagingList li {height: 25px;display: inline-block;margin: 6px 6px 0 0;background: #c0bcbf;line-height: 25px;color: #fff;}
#CategoryPagingBottom .PagingList li.ActivePage {width: 25px;background: #e7695b;}
#CategoryPagingBottom .PagingList a {width: 25px;display: block;}

#CategoryPagingBottom a.nav-prev,
#CategoryPagingBottom a.nav-next {height: 25px;display: inline-block;margin: 6px 6px 0 0;padding: 0 10px;line-height: 25px;text-transform: uppercase;}

#CategoryPagingBottom a {background: #c0bcbf;color: #fff;}
#CategoryPagingBottom a:hover {background: #7e7a7d;}


/**************************************************************************
    FOOTER
**************************************************************************/
.footer {}
.footer h4 {padding: 60px 0 35px 0;font-size: 18px;color: #7e7a7d;}

.footer a {color: #b8b4b7;text-transform: uppercase;}
.footer a:hover {color: #7e7a7d;}

.footer ul {list-style-type: none;}
.footer ul li {display: block;float: none;padding: 11px 0 0 0;position: relative;}
.footer ul li.sfHover ul {display: block !important;visibility: visible !important;padding: 0 0 0 15px;position: relative !important;left: auto !important;top: auto !important;right: auto !important;bottom: auto !important;}

.footer ul li .sf-sub-indicator {width: 12px !important;height: 12px !important;display: block !important;text-align: center;text-indent: 0;position: absolute !important;right: 0 !important;top: 0 !important;}
.footer ul li .sf-sub-indicator:before {content: '\f107';vertical-align: top;font: 12px/17px 'FontAwesome';color: #777;}
.footer ul li.sfHover .sf-sub-indicator:before {content: '\f106';}


.footer-links {margin: 55px 0 0 0;padding: 17px 0;border-top: 1px solid #e5e5e5;color: #7e7a7d;line-height: 20px;text-transform: uppercase;}
.footer-links a {color: #7e7a7d;}
.footer-links a:hover {color: #b8b4b7;}

.footer .powered-by {float: right;}
.footer .powered-by a {width: 83px;height: 0;display: inline-block;overflow: hidden;vertical-align: middle;margin: 0 0 0 7px;padding: 20px 0 0 0;background: url('../images/bc_logo_sprite.png') 0 -50px no-repeat;
-webkit-transform: translateY(-1px);
}
.footer .powered-by a:hover {background-position: 0 -75px;}

.newsletter-subscription {}
.newsletter-subscription form {padding: 10px 0 0 0;font-size: 0;}
.newsletter-subscription label {display: none;}

.newsletter-subscription input[type=text],
.newsletter-subscription input[type=email] {min-width: 162px;width: 175px;height: 35px;margin: 0 10px 0 0;padding: 0 10px;
-webkit-border-radius: 6px;
   -moz-border-radius: 6px;
        border-radius: 6px;

-webkit-box-shadow: none;
   -moz-box-shadow: none;
        box-shadow: none;
}
.newsletter-subscription .btn {height: 35px;padding: 0 15px;}



.CreateAccount ul {margin-bottom: 20px;}



/**************************************************************************
    PRODUCT PAGE
**************************************************************************/
.PrimaryProductDetails {padding: 30px 0 0 0 !important;}



/********** ROW 1: NAME AND PRICE **********/
.PrimaryProductDetails .product_details__1 {}

.PrimaryProductDetails .product_name {padding: 7px 0 0 0;color: #7e7a7d;}

.PrimaryProductDetails .ProductPrice {font-size: 30px;color: #7e7a7d;}
.PrimaryProductDetails .retail-product-price {margin: 0 0 0 7px;font-size: 20px;color: #c0bcbf;}
.PrimaryProductDetails .YouSave {display: block;color: #7e7a7d;text-transform: uppercase;position: absolute;}



/********** ROW 2: IMAGE AND OPTIONS **********/
.product_page .product_details__2 {padding: 35px 0 0 0;}


/* LEFT COLUMN (THUMBS) */
.product_img__thumbs {position: relative;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.product_img__thumbs .bx-controls a {display: block;vertical-align: top;margin: 0 0 0 -10px;font: normal 25px/1em 'FontAwesome';color: #c0bcbf;position: absolute;left: 50%;}
.product_img__thumbs .bx-controls a:hover {color: #ee8478;}
.product_img__thumbs .bx-controls a.disabled {display: none;}

.product_img__thumbs .bx-controls .bx-prev {top: 0;}
.product_img__thumbs .bx-controls .bx-next  {bottom: 0;}


.product_img__thumbs ul {list-style-type: none;}
.product_img__thumbs ul li {padding: 0 0 30px 0;}
.product_img__thumbs ul li a {width: 170px;height: 170px;display: block;background: #f1f0f1;border: 10px solid #c0bcbf;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}
.product_img__thumbs ul li ~ li a {border-color: #fff;}



/* CENTER COLUMN (IMAGE) */
.product_page .product_img__main {width: 670px !important;height: 670px !important;padding: 10px;background: #fff;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.product_page .ProductThumbImage {width: 100%;height: 100%;background: #f1f0f1;}
.product_page .ProductThumbImage a {width: 100%;height: 100%;display: block;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.cloudzoom-blank,
.cloudzoom-zoom-inside {background: #f1f0f1;}



@media screen and (min-width: 1200px) {

.product_img__thumbs {height: 670px;padding: 47px 0 0 0;}
.product_img__thumbs .bx-viewport {height: 570px !important;}

.product_img__thumbs ul li a {width: 170px;height: 170px;}


.PrimaryProductDetails .product_img__main {width: 670px !important;height: 670px !important;}
.PrimaryProductDetails .ProductThumbImage a {padding: 100px;}

}



@media screen and (max-width: 1200px) {

.product_img__thumbs {height: 548px;padding: 41px 0 0 0;}
.product_img__thumbs .bx-viewport {height: 465px !important;}

.product_img__thumbs ul li a {width: 135px;height: 135px;}


.PrimaryProductDetails .product_img__main {width: 548px !important;height: 548px !important;}
.PrimaryProductDetails .ProductThumbImage a {padding: 50px;}

}



@media screen and (max-width: 992px) {

.product_img__thumbs {height: 354px;padding: 0;}
.product_img__thumbs .bx-viewport {height: 354px !important;}

.product_img__thumbs ul li a {width: 98px;height: 98px;}

.product_img__thumbs .bx-controls-direction .bx-prev {top: 10px;}
.product_img__thumbs .bx-controls-direction .bx-next  {bottom: 10px;}


.PrimaryProductDetails .product_img__main {width: 354px !important;height: 354px !important;}
.PrimaryProductDetails .ProductThumbImage a {padding: 50px;}

}



@media screen and (max-width: 767px) {

.product_details__1 {text-align: center;}



.PrimaryProductDetails .product_img__main {width: 290px !important;height: 290px !important;margin: 0 auto;padding: 5px;}
.PrimaryProductDetails .product_img__main a {padding: 20px;}


.product_details__2 .carousel_horizontal {width: 290px !important;margin: 10px auto 0 auto;position: relative;}
.product_details__2 .carousel_horizontal .ProductTinyImageList {padding: 0 30px;}
.product_details__2 .carousel_horizontal .bx-wrapper {width: 230px !important;max-width: 230px !important;overflow: hidden;}
.product_details__2 .carousel_horizontal .bx-viewport {width: 230px !important;max-width: 230px !important;overflow: hidden;}


.bxslider_horizontal {}
.bxslider_horizontal li {width: 70px !important;margin: 0 10px 0 0;}
.bxslider_horizontal li a {width: 60px !important;height: 60px !important;display: block;border: 5px solid #fff;border-width: 5px !important;}

.carousel_horizontal .bx-controls a {display: block;vertical-align: top;margin: -12px 0 0 0;font: normal 25px/1em 'FontAwesome';color: #c0bcbf;position: absolute;top: 50%;}
.carousel_horizontal .bx-controls a:hover {color: #ee8478;}
.carousel_horizontal .bx-controls a.disabled {display: none;}
.carousel_horizontal .bx-controls a.bx-prev {left: 0;}
.carousel_horizontal .bx-controls a.bx-next {right: 0;}



.ProductThumbImage {display: block !important;}



.product_content_right {margin: 30px 0 0 0;}
.PrimaryProductDetails .YouSave {position: relative;}



#ProductVideos #FeaturedVideo object,
#ProductVideos #FeaturedVideo iframe,
#ProductVideos #FeaturedVideo embed {width: 250px !important;max-width: 250px !important;height: 150px !important;max-height: 150px !important;}

}



/* RIGHT COLUMN (OPTIONS) */
.product_details__2 .product_content_right {border-top: 1px solid #d9d9d9;color: #7e7a7d;}

.product_content_right,
.product_content_right a,
.product_content_right p {color: #7e7a7d;}

.product_content_right a:hover {color: #e7695b;}

.product_content_right .product_details {margin: 0;padding: 30px 0 0 0;text-align: left;}

.product_content_right h4 {padding: 0;}

.product_content_right .product_details__reviews {}
.product_content_right .product_details__reviews img {vertical-align: top;margin: 0 5px 0 0;}
.product_content_right .product_details__reviews span {vertical-align: top;text-transform: uppercase;position: relative;top: -2px;}



.product_content_right .PinterestButtonContainer {margin: 0;text-align: left;}



.product_page .ProductDetailsGrid {margin: 30px 0 0 0;padding: 15px 0 0 0;border-top: 1px solid #d9d9d9;}
.product_page .ProductDetailsGrid .DetailRow {padding: 15px 0 0 0;text-transform: uppercase;}
.product_page .ProductDetailsGrid .DetailRow .Label {display: inline-block;color: #7e7a7d;}
.product_page .ProductDetailsGrid .DetailRow .Value {display: inline-block;}

.product_page .ProductDetailsGrid .addto .InfoMessage {margin: 15px 0 0 0;}

.product_page .ProductDetailsGrid .DetailRow.qty .Label {padding: 3px 0 0 0;}

.product_page .ProductDetailsGrid .DetailRow .Label.QuantityInput {margin: 0 10px 0 0;}



.ExpectedReleaseDate {width: 100%;margin: 0;padding: 0;border-collapse: collapse;text-align: left;text-transform: uppercase;}
.ExpectedReleaseDate td {padding: 15px 0;color: #e7695b;}



/********** ROW 3: OPTIONS BELOW **********/
.product_details__3 {padding: 60px 0 0 0;}
.product_details__3 .productAddToCartBelow {margin: 0;padding: 0 0 30px 0;}
.product_details__3 .ProductDetailsGrid {margin: 0;}



/* ATTRIBUTES */
.product_page .productAttributeList {}

.product_page .productAttributeRow {margin: 0 !important;padding: 15px 0 0 0 !important;}
.product_page .productAttributeRow .productAttributeLabel {color: #7e7a7d;text-transform: uppercase;}
.product_page .productAttributeRow .productAttributeValue {}

.product_page .productAttributeRow ul {font-size: 0;}
.product_page .productAttributeRow ul li {vertical-align: top;margin: 7px 7px 0 0 !important;font-size: 12px;}

.product_page .addto .DetailRow {vertical-align: top;padding: 0;font-size: 0;}
.product_page .addto .btn {vertical-align: top;margin: 15px 10px 0 0;}

.product_page .addto .btn.add-to-cart {background: #e7695b;}
.product_page .addto .btn.alt {background: #c0bcbf;}

.product_page .addto .btn:hover {background: #7e7a7d !important;}



/* ACCORDION */
#prodAccordion {background: #fff;border: 1px solid #d9d9d9;}

#prodAccordion > div ~ div {border-top: 1px solid #d9d9d9;}

#prodAccordion .subtitle {padding: 10px 20px 10px 20px;font-size: 16px;color: #7e7a7d;cursor: pointer;position: relative;}
#prodAccordion .subtitle:after {content: '\f078';display: block;font: 12px 'FontAwesome';color: #7e7a7d;position: absolute;right: 15px;top: 12px;}
#prodAccordion .current .subtitle:after {content: '\f077';}

#prodAccordion .prodAccordionContent {padding: 10px 20px 20px 20px;border: none;border-top: 1px solid #d9d9d9;color: #aaaaaa;text-transform: uppercase;}
#prodAccordion .prodAccordionContent p {margin: 0;padding: 10px 0 0 0;}



.ProductDescriptionContainer {min-height: 1px;max-height: 100%;height: auto;display: block;position: relative;}
.ProductDescriptionContainer > div {display: block;}
.ProductDescriptionContainer > div:after {content: "";width: 100%;height: 0;display: block;clear: both;overflow: hidden;font-size: 0;line-height: 0;}



#ProductVideos .prodAccordionContent {padding-top: 20px;}

#ProductVideos #FeaturedVideo {}

#ProductVideos #FeaturedVideo object,
#ProductVideos #FeaturedVideo iframe,
#ProductVideos #FeaturedVideo embed {width: 600px !important;height: 400px !important;}

#ProductVideos #VideoList {}
#ProductVideos #VideoList ul {list-style-type: none;}
#ProductVideos #VideoList ul li {margin: 20px 0 0 0;padding: 20px 0 0 0;background: none !important;border-top: 1px solid #d9d9d9;}
#ProductVideos #VideoList ul li .VideoContentContainer {margin: 0 0 0 100px;padding: 0;}
#ProductVideos #VideoList ul li .videoRowTitle {font-weight: normal;font-size: 14px;color: #7e7a7d;}



#SimilarProductsByCustomerViews {padding: 0;}
#SimilarProductsByCustomerViews h2 {padding: 35px 0 0 0;}



#ProductReviews {}
#ProductReviews .btn {margin: 15px 0 0 0;}
#ProductReviews h5 {padding-top: 20px;}

#ProductReviews ol {list-style: none;}
#ProductReviews li {padding: 20px 0 0 0;}
#ProductReviews li h4 {padding: 0;}

#ProductReviews .Submit {padding: 0 !important;}
#ProductReviews .Submit .btn {margin: 0;}

#ProductReviews .SuccessMessage {margin: 20px 0 0 0;}

.ProductReviewFormContainer {}
.ProductReviewFormContainer textarea {min-width: 250px;width: 100%;}
.ProductReviewFormContainer input[type=text] {min-width: 250px;width: 100%;}
.ProductReviewFormContainer #uniform-revrating {min-width: 250px;width: 100% !important;}



#recaptcha_area {display: inline-block;overflow: hidden;border: 1px solid #dfdfdf;
-webkit-border-radius: 6px;
   -moz-border-radius: 6px;
        border-radius: 6px;}

#recaptcha_table {border: none !important;}
#recaptcha_table td {vertical-align: top !important;}

#recaptcha_image {min-width: 290px;
-webkit-border-radius: 6px !important;
   -moz-border-radius: 6px !important;
        border-radius: 6px !important;
}



#SideProductRelated h2 {padding: 35px 0 0 0;}



/********** QUICK VIEW **********/
#QuickViewContent .DetailRow ~ .DetailRow {padding: 15px 0 0 0;}
#QuickViewContent .productAttributeRow {margin: 0 !important;padding: 15px 0 0 0;}
#QuickViewContent .productAttributeLabel {padding: 0 0 5px 0;font-weight: normal;font-size: 12px;color: #7e7a7d;text-transform: uppercase;text-align: left;}



/* blog */
#BlogRecentPosts ul {padding: 0 0 0 10px;}
#BlogRecentPosts li {list-style-type: disc;list-style-position: outside;}
#BlogRecentPosts a {color: #7e7a7d !important;}
#BlogRecentPosts a:hover {color: #e7695b !important;}



#NewsContent .p-name {padding: 0 0 20px 0;}

#NewsContent h1,
.BlogPostContent h3 {font-size: 20px;}

#NewsContent h1 a,
.BlogPostContent h3 a {color: #e7695b !important;}

#NewsContent h1 a:hover,
.BlogPostContent h3 a:hover {color: #7e7a7d !important;}

#NewsContent p,
#NewsContent li,
.BlogPostContent p,
.BlogPostContent li {font-size: 15px;color: #7e7a7d;}

.BlogPostContent a:hover {color: #e7695b;}



/* BLOG SHARE LINKS */
.Content .addthis_toolbox {}
.Content .addthis_toolbox .at300b {width: 25px !important;height: 25px !important;display: inline-block;overflow: hidden;margin: 0 7px 0 0 !important;padding: 0 !important;font-size: 0;line-height: 0;position: relative;
-webkit-border-radius: 2px;
   -moz-border-radius: 2px;
        border-radius: 2px;
}

.Content .addthis_toolbox .at300b > div,
.Content .addthis_toolbox .at300b > div > span,
.Content .addthis_toolbox .at300b > iframe {width: 25px !important;height: 25px !important;opacity: 0;}

.Content .addthis_toolbox .at300b:before {width: 25px;height: 25px;display: block;font: 15px/27px 'FontAwesome';color: #fff;text-align: center;position: absolute;left: 0;top: 0;}

.Content .addthis_toolbox .addthis_button_google_plusone {background: #de4b39;}
.Content .addthis_toolbox .addthis_button_google_plusone:before {content: '\f0d5';}

.Content .addthis_toolbox .addthis_button_facebook_share {background: #3c599b;}
.Content .addthis_toolbox .addthis_button_facebook_share:before {content: '\f09a';}

.Content .addthis_toolbox .addthis_button_tweet {background: #01afec;}
.Content .addthis_toolbox .addthis_button_tweet:before {content: '\f099';}

.Content .addthis_toolbox .addthis_button_linkedin_counter {background: #027bb2;}
.Content .addthis_toolbox .addthis_button_linkedin_counter:before {content: '\f0e1';}

.Content .addthis_toolbox .addthis_button_pinterest_pinit {background: #c92229;}
.Content .addthis_toolbox .addthis_button_pinterest_pinit:before {content: '\f0d2';}

.Content .addthis_toolbox .addthis_button_facebook_like {background: #3c599b;}
.Content .addthis_toolbox .addthis_button_facebook_like:before {content: '\f164';}


.Content .addthis_toolbox .at300b:hover {background: #7a7a7a;}


.Content .addthis_toolbox .addthis_pill_style {width: 50px !important;height: 25px !important;}
.Content .addthis_toolbox .addthis_button_compact {width: 50px !important;height: 25px !important;background: none !important;position: relative;}

.Content .addthis_toolbox .addthis_button_compact:before {content: '+Share';width: 50px;height: 25px;background: #e7695b;font: bold 10px/25px "Arial";color: #fff;text-align: center;text-transform: uppercase;position: absolute;left: 0;top: 0;
-webkit-border-radius: 2px;
   -moz-border-radius: 2px;
        border-radius: 2px;
}
.Content .addthis_toolbox .addthis_button_compact:hover:before {background: #7a7a7a;}



/* cart page */
.cart_proceed + .SuccessMessage {margin: 20px 0;}

.ProceedToCheckout,
.KeepShopping {margin: 20px 0;}

.ProceedToCheckout p {margin: 20px 0 0 0;padding: 0;}

.cart_proceed .btn,
.ProceedToCheckout .btn {background: #e7695b;}

.cart_proceed .btn:hover,
.ProceedToCheckout .btn:hover {background: #7e7a7d !important;}


.ExpressCheckoutContent {padding: 0;}

.ExpressCheckoutContent > .CreateAccount,
.ExpressCheckoutContent > .AccountLogin {display: block;}

.ExpressCheckoutContent .AccountLogin h4 {padding-top: 20px;}



.multiStep li a {color: #e7695b !important;}



#CheckoutGuestForm ul {list-style-type: none;}



#uniform-creditcard_ccexpm {min-width: 55px;width: 55px;}
#uniform-creditcard_ccexpy {min-width: 70px;width: 70px;}
dd em.ProductPrice {display: inline-block;margin: 7px 0 0 0;font-style: normal;font-size: 15px;color: #7e7a7d;}



#uniform-giftwrapping_all {min-width: 290px;width: 290px;}



/********** SEARCH RESULTS **********/
#SearchTabsList {margin: 0;padding: 0;}



/* tabs */
.TabNav li a {margin: 0;background: none;border-bottom-color: #d9d9d9;font-weight: normal;color: #b5b5b5;text-transform: uppercase;}

.TabNav li.Active a {background: none;border-bottom-color: #f1f0f1;font-weight: normal;color: #7e7a7d;text-transform: uppercase;}



.SearchContainer {}

.SearchContainer .product-nav {padding: 15px 0 0 0;}
.SearchContainer .CompareButtonContainer {padding: 15px 0 0 0;}

.SearchContainer .ProductList li .ProductPriceRating em {display: block;margin: 0;padding: 10px 0 0 0;font-style: normal;font-weight: normal;font-size: 30px;color: #7e7a7d;}

.SearchContainer .ProductList li.ListView {padding: 0 15px;}
.SearchContainer .ProductList li.ListView .QuickViewBtn {left: 0 !important;top: auto !important;bottom: 0 !important;}
.SearchContainer .ProductList li.ListView .ProductDetails {padding: 0;}



.SearchContainer .ContentList a.TrackLink {font-weight: normal;font-size: 16px;color: #7e7a7d;text-transform: uppercase;}
.SearchContainer .ContentList a.TrackLink:hover {color: #e7695b;}



.CartContents #apply_code {height: 35px;margin: 0 10px;padding: 0 10px 0 10px;}



#share-product ul.tabs {margin: 0;position: relative;top: 1px;}
#share-product ul.tabs li {display: inline-block;background: none;}
#share-product ul.tabs li.active {background: #fff;}

#share-product #tabcontent {background: #fff;}



#SimilarMultiProductsByCustomerViews {padding: 0 0 30px 0;}
#SimilarMultiProductsByCustomerViews h4 {padding: 20px 0 0 0;}



#CheckoutStepShippingProvider {padding-bottom: 20px;}



.CartContents em {font-style: normal !important;}



.breadcrumb_off {height: 20px;}



/**************************************************************************
    to 1200px
**************************************************************************/
@media screen and (max-width: 1200px) {

.newsletter-subscription input[type=text],
.newsletter-subscription input[type=email] {width: 100%;margin: 0 0 10px 0;}

.footer .SocialConnect ul {padding: 15px 0 0 0;}

}



/**************************************************************************
    to 992px
**************************************************************************/
@media screen and (max-width: 992px) {

#SearchForm {padding: 52px 0 0 0;}
#SearchForm form {width: 100%;}

.header-logo h1 {padding: 50px 0 0 0;font-size: 30px;letter-spacing: 0px;}

.header_cart {padding: 70px 0 0 0;}



.banner_home_page_top a {padding: 0 30px 40px 30px;}
.banner_home_page_top a span {padding: 40px 0 0 0;font-size: 30px;}
.banner_home_page_top a span ~ span {padding: 30px 0 0 0;}



.CouponCode .Textbox,
.GiftCertificateCode .Textbox {min-width: 270px;width: 270px;}



}









/**************************************************************************
    to 768px
**************************************************************************/
@media screen and (max-width: 767px) {

.page {overflow: hidden;}

.main > .inner {width: auto !important;}

.header-logo {padding-top: 0;}

/********** Top Menu **********/
.TopMenu {display: none !important;}

#ToggleMenu {width: 40px;height: 40px;display: block !important;background: #c0bcbf;color: #fff;text-align: center;position: absolute;left: 0;top: 0;z-index: 100;cursor: pointer;}
#ToggleMenu i {font-size: 25px;line-height: 40px;}


/********** Top Search Form **********/
#SearchForm {width: 100%;padding: 0 40px;position: absolute;left: 0;top: 0;z-index: 10;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}
#SearchForm form {width: auto;height: 40px;padding: 0 40px 0 0;border: none;border-bottom: 1px solid #d9d9d9;
-webkit-border-radius: 0;
   -moz-border-radius: 0;
        border-radius: 0;
}

#SearchForm #search_query {width: 100%;height: 40px;float: left;padding: 0 0 0 15px;font-size: 11px !important;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

#SearchForm .Button {width: 40px;height: 38px;margin: 0 -40px 0 0;}


/* quick search */
.QuickSearch {min-width: 240px;max-width: 687px;width: auto;margin: 0;left: 39px;top: 40px;right: 39px;
-webkit-border-radius: 0;
   -moz-border-radius: 0;
        border-radius: 0;
}



/********** Header Cart **********/
.header_cart {padding: 0 !important;position: absolute !important;right: 0 !important;top: 0 !important;z-index: 100 !important;}
.header_cart a {width: 40px;height: 40px;display: block;background: #c0bcbf;color: #fff;text-align: center;}
.header_cart a i {font-size: 37px;line-height: 39px;color: #fff;}
.header_cart a .header_cart__quantity {width: 40px;height: 40px;padding: 3px 0 0 3px;background: none !important;color: #6f6c6e !important;left: 0;top: 0;}


.header-logo h1 {padding: 62px 0 0 0;}


.PageMenu {display: none !important;}


/********** Mobile menu **********/
#Header,
.page {
-webkit-transition: -webkit-transform 100ms ease-out;
    -ms-transition: -ms-transform 100ms ease-out;
        transition: transform 100ms ease-out;
}

.page.off-screen {position: fixed;overflow-y: hidden;
-webkit-transform: translateX(70%);
    -ms-transform: translateX(70%);
        transform: translateX(70%);
}

/* fix android bugz */
.page.off-screen .header,
.page.off-screen .main,
.page.off-screen .footer {position: relative;z-index: 1;}

/*
#Header.off-screen {
-webkit-transform: translateY(-50px);
-ms-transform:     translateY(-50px);
transform:         translateY(-50px);
}
*/



#DrawerMenu {width: 70%;background: #333;color: #fff;position: absolute;top: 0;bottom: 0;z-index: 100;}
#DrawerMenu.on-screen {display: block;overflow-y: auto;position: absolute;}

#DrawerMenu div {margin: 0;}

#DrawerMenu h3 {min-height: 40px;padding: 0 15px;background: #555;font-size: 14px;line-height: 39px;color: #fff;text-transform: uppercase;}

#DrawerMenu ul {list-style-type: none;margin: 0;}
#DrawerMenu li {float: none;border-bottom: 1px solid #555;position: relative;}
#DrawerMenu a {display: block;min-height: 34px;padding: 8px 45px 10px 15px !important;font-weight: normal;font-size: 12px;color: #fff;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}
#DrawerMenu li > ul a {padding: 8px 45px 10px 25px !important;}



/* Submenu expander */
#DrawerMenu .subcat-expand {}
#DrawerMenu .subcat-expand:after {content: '\f078';width: 34px;height: 34px;display: block;border: 1px solid #555;border-width: 0 0 1px 1px;font: 11px/32px 'FontAwesome';color: #fff;text-align: center;position: absolute;right: 0;top: 0;cursor: pointer;}
#DrawerMenu .subcat-expand.subcat-expanded:after {content: '\f077'}


/* Submenu */
#DrawerMenu .drawer-subcat {width: 100%;max-height: 0;display: block !important;overflow: hidden;visibility: visible !important;background: #444;position: relative;left: auto;top: auto;}
#DrawerMenu .drawer-subcat.expanded {max-height: 1000px;border-top: 1px solid #555;}



/* Topmenu clone */
#SideAccountNavigation .container,
#SideAccountNavigation .col-sm-4 {padding: 0 !important;text-align: left;}



/* Currency selector */
#SideAccountNavigation .js-drawermenu-currency-converter {float: none;}

#SideAccountNavigation .currency-converter > p {display: none !important;}

#SideAccountNavigation .CurrencyChooser {min-height: 34px !important;display: block;float: none;padding: 0;background: none;border: none;position: relative;left: auto;right: auto;top: auto;}

#SideAccountNavigation .selected-currency {padding: 8px 15px 10px 15px !important;background: none;border: none;border-bottom: 1px solid #555;font-size: 12px;color: #fff;}
#SideAccountNavigation .selected-currency:after {content: "\f078";width: 34px;height: 33px;display: block;border: 1px solid #555;border-width: 0 0 0 1px;font: 11px/32px 'FontAwesome';color: #fff;text-align: center;position: absolute;right: 0;top: 0;}
#SideAccountNavigation .selected-currency.open:after {content: "\f077";}

#SideAccountNavigation .selected-currency .Flag {margin: 0 10px 0 0;padding: 0;}
#SideAccountNavigation .selected-currency img {vertical-align: top;position: relative;top: 3px;}
#SideAccountNavigation .selected-currency .Text {color: #fff !important;}

#SideAccountNavigation .CurrencyList {display: none;}
#SideAccountNavigation .CurrencyList.open {display: block;}

#SideAccountNavigation .CurrencyList dd {border: none;}
#SideAccountNavigation .CurrencyList a {display: block;overflow: hidden;padding: 8px 45px 10px 15px;background: #444;border-bottom: 1px solid #555;text-overflow: ellipsis;white-space: nowrap;
-webkit-transition: all 60ms ease;
   -moz-transition: all 60ms ease;
     -o-transition: all 60ms ease;
        transition: all 60ms ease;
}
#SideAccountNavigation .CurrencyList a:hover {background-color: none;}

#SideAccountNavigation .CurrencyList .Flag {display: inline-block;float: none;margin: 0 10px 0 0;padding: 0;text-align: left;}
#SideAccountNavigation .CurrencyList .Flag img {vertical-align: top;position: relative;top: 3px;}
#SideAccountNavigation .CurrencyList .Text {color: #fff !important;white-space: nowrap;}

.productPage div#fancy_outer {height: auto !important;}



/* Phone */
#SideAccountNavigation .js-drawermenu-store-phone-container {float: none;text-align: center;}
#SideAccountNavigation .js-drawermenu-store-phone-container a {padding: 10px 15px 12px 15px !important;font-size: 20px !important;color: #fff;}
#SideAccountNavigation .js-drawermenu-store-phone-container a:before {content: "\f095";font: 22px 'FontAwesome';color: #fff;position: relative;top: 2px;}



.main {padding: 0 0 30px 0;}



/********** Home page content **********/
.banner_home_page_top {padding: 15px 0 0 0;}
.banner_home_page_top a {padding: 0 20px 20px 20px;}
.banner_home_page_top a span {padding: 12px 0 0 0;font-size: 25px;}
.banner_home_page_top a span ~ span {padding: 10px 0 0 0;}



/********** products listing **********/
.products_listing_main h2 {padding: 25px 0 0 0;}
.products_listing_main .col-sm-3 {width: 100% !important;min-height: 1px !important;height: auto !important;float: left;margin: 15px 0 0 0;}
.products_listing_main .col-sm-4 {width: 100% !important;min-height: 1px !important;height: auto !important;float: left;margin: 15px 0 0 0;}
.products_listing_main .item {overflow: hidden;padding: 10px;text-align: left;}

.products_listing_main .ProductImage {width: 180px;float: left;}

.products_listing_main .ProductDetails,
.products_listing_main .p-price,
.products_listing_main .ProductPriceRating,
.products_listing_main .ProductCompareButton,
.products_listing_main .ProductActionAdd {margin: 0 0 0 200px;}

.products_listing_main .ProductDetails .p-price {margin: 0;}

.products_listing_main a.pname {margin: 0;}

.products_listing_main .p-price {padding: 8px 0 0 0;font-size: 25px;}





/********** footer **********/
.footer div ~ div ~ div {clear: left;}
.footer div ~ div ~ div ~ div {clear: none;}

.footer h4 {padding: 22px 0 0 0;}

.footer-links {margin: 35px 0 0 0;}


/********** cart page **********/
.CartCode > .CouponCode,
.CartCode > .GiftCertificate {width: 100%;float: none;}

.CartCode > .GiftCertificate {margin: 20px 0 0 0;}

}



/**************************************************************************
    to 480px
**************************************************************************/
@media screen and (max-width: 480px) {

/********** products listing **********/
.products_listing_main .ProductImage {width: 120px;float: left;}

.products_listing_main .ProductDetails,
.products_listing_main .p-price,
.products_listing_main .ProductActionAdd {margin: 0 0 0 140px;}

.products_listing_main .p-price {font-size: 18px;}

.products_listing_main .ProductPriceRating {display: none;}



/********** footer **********/
.footer .col-xs-6 {width: 100%;float: none;}

.footer-links {text-align: center;}
.footer-links .powered-by {float: none;}



/********** cart page **********/
.CartCode .GiftCertificate input.btn,
.CartCode .CouponCode input.btn {margin: 0;}



}



