body {margin: 10px;background: #fff;color: #000;}

body,
td,
th {font-size: 12px;font-family: Arial, Sans-Serif;}

h1,
h1 a {color: #000;text-decoration: none;}

.Invoice,
.PackingSlip {padding: 5px;border: 2px solid #cacaca;}

.InvoiceTitle,
.PackingSlipTitle {margin-bottom: 10px;padding: 5px;background: #000;font-weight: bold;font-size: 15px;color: #fff;}

.StoreAddress {margin-bottom: 10px;font-weight: bold;}

.InvoiceHeading,
.PackingSlipHeading {margin-bottom: 10px;font-weight: bold;font-size: 15px;}

.CustomerDetails,
.AddressRow,
.InvoiceItems,
.InvoiceDetails,
.PackingSlipItems,
.PackingSlipDetails {margin-bottom: 10px;}

.InvoiceTable,
.PackingSlipTable {width: 100%;border-collapse: collapse;}

.InvoiceTable th,
.PackingSlipTable th {padding: 5px;font-weight: bold;text-align: left;}


.InvoiceTable td,
.PackingSlipTable td {vertical-align: top;padding: 5px;text-align: left;}

td.ProductQuantity,
th.ProductQuantity,
td.ProductCost,
th.ProductCost,
td.ProductTotal,
th.ProductTotal,
.InvoiceTotals td,
.InvoiceTotalRow td {text-align: right;}

.AddressRow,
.InvoiceDetails,
.PackingSlipDetails {width: 100%;overflow: hidden;}

.ShippingAddress,
.BillingAddress,
.InvoiceDetailsLeft,
.InvoiceDetailsRight,
.PackingSlipDetailsLeft,
.PackingSlipDetailsRight {width: 48%;float: left;}

.InvoiceItems,
.PackingSlipItems {padding-top: 10px;border-top: 1px solid #000;}

.InvoiceItemList {border-bottom: 1px solid #000;}

.InvoiceItemDivider td {padding-top: 10px;border-top: 1px solid #000;}

.DetailRow,
.ConfigurableProductRow {clear: left;margin-top: 6px;padding-left: 140px;}

.DetailRow .Label,
.ConfigurableProductRow .Label {width: 130px;display: inline;float: left;margin: 0 0 6px -140px;padding-top: 1px;position: relative;}

.DetailRow .Value,
.ConfigurableProductRow .Value {display: inline;}

.InvoiceDetails .DetailRow .Label,
.PackingSlipDetails .DetailRow .Label {font-weight: bold;}

.ConfigurableProductRow {margin-left: 10px;font-size: 11px;}

.InvoiceTotals .InvoiceTotal td {font-weight: bold;}

.ProductQuantity {width: 50px;}

.ProductCost,
.ProductTotal {width: 150px;}

.PageBreak {page-break-after: always;}

.ProductPreOrder {font-size: 11px;}