.flexslider {
    position: relative;
    border-radius: 0;
    box-shadow: none;
    border: 0;
}

.slide-show {
    margin-bottom: 20px !important;
}



.slide-show .btn {}

.slide-show li.slide {
    position: relative;
}


.flex-control-nav {
    bottom: 20px !important;
}

.flex-direction-nav .flex-next {
    background-position: 100% 0;
    right: 25px;
}

.flex-direction-nav .flex-prev {
    left: 25px;
}



/*************** custom styles ***************/
.slider_container {width: auto !important;margin: 0 auto;padding: 0 !important;}
.slide-show {margin: 0 !important;}



.slide-show .slide-overlay {width: 100%;margin: -81px 0 0 0;text-align: center;position: absolute;top: 50%;}

.slide-show h2.slide-heading {margin: 0;padding: 0;font-size: 50px;text-transform: uppercase;
text-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
}

.slide-show p.slide-text {margin: 0;padding: 10px 0 0 0;font-size: 16px;text-transform: uppercase;
text-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
}

.slide-button {margin: 0;padding: 20px 0 0 0;}
.slide-button .btn {}



@media screen and (max-width: 767px) {

.flex-control-nav {padding: 15px 0 0 0;}

}