<li onclick="%%GLOBAL_TinyImageClickJavascript%%" onmouseover="%%GLOBAL_TinyImageOverJavascript%%" id="TinyImageBox_%%GLOBAL_ProductThumbIndex%%">
    <div class="TinyOuterDiv">
        <a href="javascript:void(0);" rel='{"gallery": "prodImage", "smallimage": "%%GLOBAL_ProductThumbImageURL%%", "largeimage": "%%GLOBAL_ProductZoomImageURL%%"}'>
            <img id="TinyImage_%%GLOBAL_ProductThumbIndex%%" src="%%GLOBAL_ProductTinyImageURL%%" alt="%%GLOBAL_ImageDescription%%" title="%%GLOBAL_ImageDescription%%" />
        </a>
    </div>
</li>