/* Global Resets */
* {margin: 0;padding: 0;outline: none;}



/* General */
html {height: 100%;}

body {height: 100%;font-weight: normal;font-size: 14px;font-family: Arial, Sans-Serif;color: #333;
-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

input, select, textarea {font-size: 12px;font-family: Arial, Sans-Serif;color: #333;}



/* Headings */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {margin: 0;padding: 0;color: #333;}

h1 {padding: 0 0 20px 0;font-weight: 300;font-size: 34px;line-height: 1em;font-family: 'Open Sans', sans-serif;color: #1399be;text-align: center;}
h2 {padding: 0 0 20px 0;font-weight: 700;font-size: 26px;line-height: 29px;text-align: center;}
h3 {padding: 0 0 20px 0;font-weight: 900;font-size: 22px;line-height: 24px;}
h4 {padding: 0 0 20px 0;font-weight: 600;font-size: 18px;line-height: 24px;}
h5 {padding: 0 0 20px 0;font-weight: 600;font-size: 13px;line-height: 20px;}

a {font-weight: inherit;color: #1399be;text-decoration: none;}
a:hover {background-color: #1399be;color: #fff;}


a.disabled,
a.disabled:hover {background-color: transparent;color: #808080;}

img,
a img {border: none;}



/* Page Breadcrumbs */
.Nav {clear: both;font-size: 0.9em;text-align: center;}

.ImageCount {font-size:12px;color: #808080;text-align: center;}

.Nav,
.ImageCount {margin-bottom: 10px;}

.ProductTinyImageList ul li {width: auto !important;height: auto !important;overflow: hidden;float: left;}
.ProductTinyImageList ul li div {display: block;text-align: center;}
.ProductTinyImageList ul li .TinyOuterDiv {display: block;border: 0px solid white;}

.ProductTinyImageList a:hover {background: none;}

.ProductZoomImageBox,
.ProductZoomImageBox * {vertical-align: middle;margin: auto;}


.ProductTinyImageList ul {list-style-type: none;margin: 0pt;padding: 0pt;white-space: nowrap;position: relative;}

#ImageScrollPrev,
#ImageScrollNext {float: left;margin-top: 25px !important;background: none;border: none;cursor: pointer;
display: none;
}

.ProductTinyImageList {overflow: hidden;margin: 10px auto 0 auto;white-space: nowrap;}

.center-container {text-align: center;}
.center-container:before {content: '';display: inline-block;vertical-align: middle;margin-right: -0.25em;/* Adjusts for spacing */}

.center-item {width: 300px;display: inline-block;vertical-align: middle;}



/* Lightbox */
.productImageLightbox .ImageCarousel {position: relative;}
.productImageLightbox .ImageCarousel > * {vertical-align: middle;}

.productImageLightbox #ImageScrollPrev,
.productImageLightbox #ImageScrollNext {height: 20px;float: none;margin-top: -10px !important;position: absolute;top: 50%;}

.productImageLightbox #ImageScrollPrev {left: 0;}
.productImageLightbox #ImageScrollNext {right: 0;}

.productImageLightbox .ProductTinyImageList ul li {padding: 5px;}




@media screen and (max-width: 768px) {

.productImageLightbox .ImageCarousel {position: relative;display: none !important;}

}