<div class="footer">
    <div class="container">
        <div class="footer-main">
            <div class="row footer-columns">
                <div class="col-xs-6 col-sm-3 col-lg-2"><h4>%%GLOBAL_QuickLinkText%%</h4>%%Panel.PagesMenu%%</div>
                <div class="col-xs-6 col-sm-3 col-lg-2">%%Panel.FooterCategoryList%%</div>
                <div class="col-xs-6 col-sm-3 col-lg-2">%%Panel.BrandList%%</div>
                <div class="col-xs-6 col-sm-3 col-lg-5 col-lg-push-1">%%Panel.SideNewsletterBox%% %%Panel.SocialLinks%%</div>
            </div>
        </div>

        <div class="footer-links">
            <span id="currencyPrices">%%GLOBAL_AllPricesAreInCurrency%%.</span> &copy; %%GLOBAL_Year%% %%GLOBAL_StoreName%%. %%SNIPPET_SitemapLink%%
            <span class="powered-by">%%GLOBAL_PoweredBy%%</span>
            %%GLOBAL_DebugDetails%%
        </div>
    </div>
</div>

%%GLOBAL_DesignModeHTML%%
%%GLOBAL_QueryList%%
%%GLOBAL_DesignModeScriptTag%%
%%GLOBAL_LiveChatFooterCode%%
%%GLOBAL_OptimizerTrackingScript%%
%%GLOBAL_OptimizerConversionScript%%
%%GLOBAL_OptimizerSetCookieScript%%
%%GLOBAL_FooterScripts%%
%%SNIPPET_FastCartThickBoxJs%%