%%GLOBAL_NewsletterBoxControlScript%%
<div class="newsletter-subscription" id="SideNewsletterBox">
    %%GLOBAL_NewsletterHeaderOptimizerScriptTag%%
    %%GLOBAL_NewsletterBoxOptimizerNoScriptTag%%
    <h4>%%LNG_HC_signupnewsletter%%</h4>
    <form action="%%GLOBAL_ShopPath%%/subscribe.php" method="post" id="subscribe_form" class="subscribe_form" name="subscribe_form">
        <input type="hidden" name="action" value="subscribe" />
        <label for="nl_first_name">%%LNG_HC_name%%</label>
        <input class="Textbox autobox" value="Name" id="nl_first_name" name="nl_first_name" type="text" />
        <label for="nl_email">%%LNG_HC_email%%</label>
        <input class="Textbox autobox" value="Email" id="nl_email" name="nl_email" type="email" />
        %%GLOBAL_NewsletterButtonOptimizerScriptTag%%
        <input value="%%LNG_HC_Submit%%" class="btn" type="submit" />
        %%GLOBAL_NewsletterBoxOptimizerNoScriptTag%%
    </form>
</div>
%%Panel.NewsletterJavaScript%%